<!DOCTYPE html>
<html>
<head>
    <title>Hive</title>
    <title></title>
    <script src="http://code.jquery.com//jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.js" type="text/javascript"></script>
    <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
</head>
<body>
    <div align="right">
        <button type="button" id="btn_logout" style="text-align: right">Logout</button>
    </div>
    <a href="/home/">Home</a><br />
    <br />
    <li>
        :{{ hive.name }} -> {{ hive.description }} {{ hive.category }}<br />
        <a href="/chat/{{ chat.channel_unicode }}"> public chat</a>
    </li>
    <br />
    <button type="button" id="btn_up" style="text-align: right">Up</button>
    <p id="profiles_list">
    </p>
    <button type="button" id="btn_more" style="text-align: right">Load more</button>

    <script type="text/javascript">
        // Buttons behaviour
        $(document).ready(function() {
            var hive_url="{{ hive.name_url }}";
            var csrftoken = $.cookie('csrftoken');
            var last=0;
            $.ajax({
                type: "GET",
                url: "/hive_users/" + hive_url + "/first-5",
                headers: {"X-CSRFToken":csrftoken},
                data: "",
                success: function(newData){
                    users = JSON.parse(newData)
                    reload(users)
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
            });

            // AJAX method to reload users on screen
            function reload(users) {
                var profile = users[0];
                $('#profiles_list').html('<a href="/create_chat/' + hive_url + '/' + profile.public_name + '">@' +
                                          profile.public_name + '</a>  (<a href="/profile/' + profile.public_name +
                                          '">profile</a>)<br />');
                for(i = 1; i < users.length; i++){
                    profile = users[i]
                    $('#profiles_list').html($('#profiles_list').html() +
                        '<a href="/create_chat/' + hive_url + '/' + profile.public_name + '">@' + profile.public_name +
                        '</a>  (<a href="/profile/' + profile.public_name + '">profile</a>)<br />'
                    );
                }
            }

            // Button up behaviour when clicked
            $('#btn_up').on('click', function()
            {
                $.ajax({
                    type: "GET",
                    url: "/hive_users/" + hive_url + "/first-5",
                    headers: {"X-CSRFToken":csrftoken},
                    data: "",
                    success: function(newData){
                        users = JSON.parse(newData)
                        reload(users)
                    },
                    failure: function(errMsg) {
                        alert(errMsg);
                    }
                });
                last = 5;
                return false;
            });

            // Button more behaviour when clicked
            $('#btn_more').on('click', function()
            {
                $.ajax({
                    type: "GET",
                    url: "/hive_users/" + hive_url + "/" + last + "-5",
                    headers: {"X-CSRFToken":csrftoken},
                    data: "",
                    success: function(newData){
                        users = JSON.parse(newData)
                        reload(users)
                    },
                    failure: function(errMsg) {
                        alert(errMsg);
                    }
                });
                last = last + 5;
                return false;
            });



            // Button logout behaviour when clicked
           $('#btn_logout').on('click', function()
            {
                var csrftoken = $.cookie('csrftoken');
                $.ajax({
                    type: "POST",
                    url: "/logout/",
                    headers: {"X-CSRFToken":csrftoken},
                    data: "",
                    success: function(newData){
                        alert(newData);
                        //$.removeCookie(); TODO toggle to remove browser cookies
                        location.href="/";
                    },
                    failure: function(errMsg) {
                        alert(errMsg);
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>