<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <script src="http://code.jquery.com//jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.js" type="text/javascript"></script>
</head>
<body>
    <div align="center">
        <br /><h2>Welcome to ChattyHive!</h2><br />
        <br />Introduce your new password in order to change it, {{ user }}<br />
        <form action="/pass_changed/{{ user }}" method="post">{% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Change" />
        </form>
    </div>
</body>
</html>

<script>
     $(document).ready(function() {
          $("#user").val({{ user }});
     }
</script>