<!DOCTYPE html>
<html>
<head>
    <title>CHAT</title>
    <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com//jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.js" type="text/javascript"></script>
</head>
<body>
    Welcome, {{ user }}!
    <button type="button" id="btn_logout" style="text-align: right">Logout</button>
    <p id="chat_field"></p>
    <input id="msg_text" type="text">
    <button type="button" id="btn_send">Send</button>
    <p id="status"></p>

    <script type="text/javascript">

        var num_rep=0;
        var user="{{ user }}";
        var app_key="{{ app_key }}";
        var key="{{ key }}";
        var channel_name="{{ channel }}";
        var event_name="{{ event }}";
        var chat="{{ chat_field }}";

        // Connecting to pusher
        var pusher = new Pusher(key);
        var channel = pusher.subscribe(channel_name);

        // Listening to the channel
        channel.bind(event_name, function(data) {
            if(data.user!=user) write(data.user,data.msg);
        });

        // AJAX method to write chat answers on screen
        function write(name_user, text) {
            chat = $('#chat_field').html();
            num_rep ++;
            if (num_rep > 25) {
                $('#chat_field').text(name_user + " said: " + text);
                num_rep = 0;
            } else {
                $('#chat_field').html(chat + '<br/>' + name_user + " said: " + text);
            }
        }

        // Buttons behaviour
        $(document).ready(function() {
            // Button send behaviour when clicked
            $('#btn_send').on('click', function()
            {
                var text_sent = $("#msg_text").val();
                $("#msg_text").val("");
                var csrftoken = $.cookie('csrftoken');
                $.ajax({
                    type: "POST",
                    url: "/chat/",
                    headers: {"X-CSRFToken":csrftoken},
                    data: {msg:text_sent},
                    success: function(newData){
                        $("#status").html(newData);
                    },
                    failure: function(errMsg) {
                        alert(errMsg);
                    }
                });
                write(user, text_sent);
                return false;
            });

            // Button logout behaviour when clicked
            $('#btn_logout').on('click', function()
            {
                var csrftoken = $.cookie('csrftoken');
                $.ajax({
                    type: "POST",
                    url: "/logout/",
                    headers: {"X-CSRFToken":csrftoken},
                    data: "",
                    success: function(newData){
                        alert(newData);
                        //$.removeCookie(); TODO toggle to remove browser cookies
                        location.href="/";
                    },
                    failure: function(errMsg) {
                        alert(errMsg);
                    }
                });
                return false;
            });
        });



    </script>
</body>
</html>