<!DOCTYPE html>
<html>
<head>
    <title>CHAT</title>
    <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
    <!--<script src="jquery-2.0.3.min.js" type="text/javascript"></script>-->
    <script src="functions_ajax.js" type="text/javascript"></script>
    <script src="cookie.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
</head>
<body>
    Welcome, {{ user }}!
    <p id="chat_field"></p>
    <form id="send_msg" action="/chat/" method="post">{% csrf_token %}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Send">#}
        <input id="msg_text" type="text">
        <button type="button" onclick="onClick()">Send</button>
{#        <input type="submit" onclick="onClick()" value="Send">#}
    </form>
    <script type="text/javascript">

        var num_rep=0;
        var user="{{ user }}";
        var app_key="{{ app_key }}";
        var key="{{ key }}";
        var channel_name="{{ channel }}";
        var event_name="{{ event }}";
        var chat="{{ chat_field }}";

        // Connecting to pusher
        var pusher = new Pusher(key);
        var channel = pusher.subscribe(channel_name);

        // Listening to the channel
        channel.bind(event_name, function(data) {
            write(data.user,data.msg);
        });

        // Button Send behaviour
        // TODO not used now
        function onClick() {
            var text_sent = document.getElementById("msg_text").value;
            document.getElementById("msg_text").value="";
            write(user, text_sent);
{#            document.getElementById('send_msg').submit();#}
{#            alert("Submit realizado");#}
{#              send_post(text_sent);#}
{#            send_jquery(text_sent);#}
            loadXMLDoc();
        }

        // AJAX method to write chat answers on screen
        function write(name_user, text) {
            chat = document.getElementById("chat_field").valueOf(); // TODO trying to store previous messages
//            alert(chat);
            num_rep ++;
            if (num_rep > 25) {
                document.getElementById("chat_field").innerHTML = name_user + " said: " + text + "<br/>";
                num_rep = 0;
            } else {
                document.getElementById("chat_field").innerHTML += name_user + " said: " + text + "<br/>";
            }
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        function loadXMLDoc() {
//            returns 403: forbidden request, think because of the crsf missed

            var csrftoken = getCookie('csrftoken');
//            var csrftoken = $.cookie('csrftoken');
            var xmlhttp;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function() {
                if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                    document.getElementById("chat_field").innerHTML=xmlhttp.responseText;
                }
            }
            xmlhttp.open("POST","/chat/",true);
            xmlhttp.setRequestHeader("X-CSRFToken",csrftoken);
            xmlhttp.send();
        }

        $(document).ready(function() {
            $('send_msg').submit(function()
            {
                alert("submit_catched")
                $.ajax({
                    type: "POST",
                    url: "/chat/",
                    data: {msg: msg_text},
                    success: function(newData){
                        document.getElementById("chat_field").html('---->ok');
                    },
                    failure: function(errMsg) {
                        alert(errMsg);
                    }
                });
                return false;
            });
        });


    </script>
</body>
</html>