{% extends "base_test_ui.html" %}
{% block title %}Create hive{% endblock %}

{% block more_scripts %}
{% endblock %}

{% block public_name %}{{ profile.public_name }}{%  endblock %}

{% block content %}

    <h1> New hive </h1>
    <a href="/test-ui/create_community/">Create a community instead</a>
    <form action="/test-ui/create_hive/" method="post">{% csrf_token %}
            {{ formHive.as_p }}
            {{ formTags.as_p }}
        <input type="submit" value="Create" />
    </form>
{%  endblock %}

{% block body_extra_scripts %}
{% endblock %}