{% extends "base_test_ui.html" %}
{% block title %}Explore{% endblock %}

{% block more_scripts %}
{% endblock %}

{% block public_name %}{{ profile.public_name }}{%  endblock %}

{% block content %}

    <h1>Explore</h1>

    {% for hive in hives %}
        <li>
           <a href="/test-ui/hive_description/{{ hive.slug }}">{{ hive.name }} -- <i>{{ hive.type }}</i> --</a> <b><a href="/test-ui/join/{{ hive.slug }}">join</a></b>
        </li>
    {% endfor %}
{% endblock %}

{% block body_extra_scripts %}
{% endblock %}