{% extends "base_test_ui.html" %}
{% block title %}Hive description{% endblock %}

{% block more_scripts %}
{% endblock %}

{% block public_name %}{{ profile.public_name }}{%  endblock %}

{% block content %}

    <a href="/test-ui/home/">Home</a><br />
    <br />
    {% if subscribed %}
        <div>:{{ hive.name }} -- <a href="/test-ui/leave/{{ hive.slug }}">leave</a></div>
    {% else %}
        <div>:{{ hive.name }} -- <a href="/test-ui/join/{{ hive.slug }}">join</a></div>
    {% endif %}
    <div>Description: {{ hive.description }}</div>
    <div>Category: {{ hive.category.name }}</div>
    <div>Tags:
        {% for tag in hive.tags.all %}
             {{ tag }},
        {% endfor %}
    </div>
    <div>Languages:
        {% for language in hive.languages %}
             {{ language }},
        {% endfor %}
    </div>
    {% if owner or admin %}
        <div><a href="/test-ui/create_public_chat/{{ hive.slug }}">New public chat</a></div>
{#         TODO: crear enlace para eliminar la comunidad#}
    {% endif %}
{% endblock %}