{% extends "base_test_ui.html" %}
{% block title %}Home{% endblock %}

{% block more_scripts %}
{% endblock %}

{% block public_name %}{{ profile.public_name }}{%  endblock %}

{% block content %}

    <h1> My chats</h1>

    <a href="/test-ui/home/hives/">My Hives</a>--My Chats
    <br />
    {% for chat in chats %}
      <li>
        {% if chat.type == 'mate_private' %}
            <a href="/test-ui/hive_chat/{{ chat.hive.slug }}/{{ chat.chat_id }}"> {{ chat.public_names }} in {{ chat.hive }} <i>-- private chat --</i></a>
        {% else %}
            <a href="/test-ui/hive_chat/{{ chat.hive.slug }}/{{ chat.chat_id }}">{{ chat.hive }} <i>-- public chat --</i></a>
        {% endif %}
      </li>
    {% endfor %}
{% endblock %}

{% block body_extra_scripts %}
{% endblock %}