{% extends "base.html" %}
{% block title %}Home hives{% endblock %}

{% block more_scripts %}
{% endblock %}

{% block public_name %}{{ profile.public_name }}{%  endblock %}

{% block content %}
    <div align="right">
        <button type="button" id="btn_logout" style="text-align: right">Logout</button>
    </div>
    <a href="/test-ui/profile/my_profile/public">Profile</a>
    <a href="/test-ui/explore/">Explore</a>
    <a href="/test-ui/create_hive/">New Hive</a>
    <br />
    <br />
    My Hives--<a href="/test-ui/home/chats/">My Chats</a>
    <br />
    {% for hive in hives %}
      <li>
        <a href="/test-ui/hive/{{ hive.slug }}">{{ hive.name }} -- <i>{{ hive.type }}</i> --</a> <a href="/test-ui/hive_description/{{ hive.slug }}">Description</a>
          - <a href="/test-ui/leave/{{ hive.slug }}">leave</a>
      </li>
    {% endfor %}


    <script type="text/javascript">
        // Buttons behaviour
        $(document).ready(function() {
            // Button logout behaviour when clicked
            $('#btn_logout').on('click', function()
            {
                var csrftoken = $.cookie('csrftoken');
                $.ajax({
                    type: "POST",
                    url: "/test-ui/logout/",
                    headers: {"X-CSRFToken":csrftoken},
                    data: "",
                    success: function(newData){
                        alert(newData);
                        //$.removeCookie(); TODO toggle to remove browser cookies
                        location.href="/test-ui/";
                    },
                    failure: function(errMsg) {
                        alert(errMsg);
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}