{% extends "base_test_ui.html" %}
{% block title %}Public profile{% endblock %}

{% block more_scripts %}
{% endblock %}

{% block public_name %}{{ profile.public_name }}{%  endblock %}

{% block content %}

    <h1>My profile</h1>

    {% if profile.allowed %}
        <a href="/test-ui/profile/{{ profile.public_name }}/private">Private</a>   Public
    {% endif %}
    <br />
    <br />
    Info
    <br />
        <li>Public Name: {{ profile.public_name }}</li>
        <li>Languages:
        {% for language in languages %}
            {{ language.language }},
        {% endfor %}
        </li>
        <li>Show Age: {{ profile.show_age }}</li>
        <li>Location: {{ profile.location }}</li>
{% endblock %}

{% block body_extra_scripts %}
{% endblock %}